{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="flex flex-col lg:flex-row items-center justify-center lg:justify-between">
        <div class="lg:w-1/2 mb-8 lg:mb-0">
            <h1 class="text-3xl font-bold mb-4 text-center lg:text-left">Seller Agreement</h1>
            <div class="bg-gray-100 px-6 py-4 mb-6 rounded-lg">
                <p class="text-gray-700 mb-6 text-center lg:text-left">
                    By submitting this form, you agree to become a seller on our platform and adhere to the terms and conditions outlined below.
                </p>
                <p class="text-gray-700 mb-4">
                    <strong>Terms and Conditions:</strong>
                </p>
                <ul class="list-disc list-inside text-gray-700">
                    <li>You are responsible for the accuracy of the information provided for land listings.</li>
                    <li>Any fraudulent activity will result in immediate termination of your seller account.</li>
                    <li>Ensure that all uploaded documents are authentic and related to the land being listed.</li>
                    <!-- Add more terms as needed -->
                </ul>
            </div>
        </div>
        <div class="lg:w-1/2 lg:pl-8">
            <form method="post" class="bg-white shadow-lg rounded-lg px-8 py-6" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_full_name" class="block text-sm font-medium text-gray-700">Full Name</label>
                    {{ form.full_name }}
                </div>
                <div class="mb-4">
                    <label for="id_house_address" class="block text-sm font-medium text-gray-700">House Address</label>
                    {{ form.house_address }}
                </div>
                <div class="mb-4">
                    <label for="id_state" class="block text-sm font-medium text-gray-700">State</label>
                    {{ form.state }}
                </div>
                <div class="mb-4">
                    <label for="id_phone_number" class="block text-sm font-medium text-gray-700">Phone Number</label>
                    {{ form.phone_number }}
                </div>
                <div class="mb-4">
                    <label for="id_profile_image" class="block text-sm font-medium text-gray-700">Profile Image</label>
                    {{ form.profile_image }}
                </div>

                <button type="submit" class="bg-gradient-to-r from-blue-500 to-indigo-500 text-white px-4 py-2 rounded-lg hover:from-indigo-600 hover:to-blue-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">
                    Agree and Submit <span class="ml-1">🔒</span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
